<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}style.css" type="text/css" media="screen" charset="utf-8">
    <meta name="viewport" content="width=480">
  </head>
  <body>
    <section>
      <header>
        <hgroup>
          <h1><a href="{{ site.baseurl }}"><em>by</em> Beau Collins</a></h1>
        </hgroup>
      </header>
      {{ content }}
    </section>
  </body>
</html>

